/*  VARIABLES   */
:root {
  /*  Colors  */
  --dark-cyan: hsl(158, 36%, 37%);
  --darker-cyan: hsl(158, 36%, 18%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --white: hsl(0, 0%, 100%);

  /*  Typography */
  --font-paragraph: 14px;
  --font-montserrat: "Montserrat", sans-serif;
  --font-weight-b: 700;
  --font-weigth-l: 500;
  --font-fraunces: "Fraunces", sans-serif;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--font-paragraph);
  padding: 1rem;
}

/*  Main and container styles  */
main {
  margin: 1rem auto;
  width: 100%;
  background-color: var(--cream);
  padding: 1rem;
  box-shadow: var(--light-shadow);
}

.container {
  margin: 1rem auto;
  background-color: var(--white);
  border-radius: 15px;
  padding-bottom: 0.5rem;
}

/* Images */
#mobile-image {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#desktop-image {
  width: 0;
  height: 0;
}

/* Text Section */
.text-section {
  margin: 1rem;
}

.intro-title {
  display: inline-block;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  font-weight: var(--font-weigth-l);
  font-family: var(--font-fraunces);
  opacity: 0.6;
  margin-top: 0.5rem;
}

h1 {
  font-family: var(--font-fraunces);
  font-weight: var(--font-weight-b);
  text-transform: capitalize;
  font-size: 30px;
  line-height: 30px;
  margin: 1rem 0;
}

.text {
  font-family: var(--font-montserrat);
  opacity: 0.6;
  margin: 1rem 0;
}


/* Price */

.price-section {
  display: flex;
  align-items: center;
}
.price-tag {
  color: var(--dark-cyan);
  font-weight: var(--font-weight-b);
  font-size: 30px;
  font-family: var(--font-fraunces);
  margin-right: 1rem;
}
.price-strike-through {
  text-decoration: line-through;
  font-weight: var(--font-weigth-l);
  opacity: 0.7;
}

/* Button */
.btn {
  display: block;
  margin: 1rem auto;
  width: 95%;
  height: 3rem;
  color: var(--white);
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 0.5rem;
  font-weight: var(--font-weight-b);
}
.btn:hover{
  cursor: pointer;
  background-color:var(--darker-cyan) ;
}

.cart {
  margin: 0 0.5rem 0 0;
}


/* Desktop Design */
@media (min-width: 600px){
  
    main{
    width: 80%;
    min-width:600px;
  }
    .container{
    display: flex;
    width: 570px;
    
  }
  .image-section{
    max-width: 50%;
    display: flex;
    align-items: stretch;

  }
  .text-section{
    max-width: 50%;
    padding: 2rem 2rem 0 1rem;
    margin: 0.5rem;
  }
  #mobile-image{
    height: 0;
    width: 0;
  }
  #desktop-image{
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}


/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
